{% extends "base.html.twig" %}

{% block body %}
    <h1>Categories</h1>
    <h2>Create category</h2>
    {% include "flashes.html.twig" %}

    {{ form(form) }}

    <h2>Your categories</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Billable</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td scope="row">{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.billable ? 'Yes' : 'No' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
